<div style="display: inline-flex;">
    <div style="margin-top:20px; margin-left: 40px; max-width:900px; float:left">
        <p style="font-weight: bold; color: #74115a">THÔNG TIN VÍ BCHAIN</p>
        <div style="margin-left: 20px">
            <p style="max-width: 50%; overflow-wrap: break-word; max-width: 700px "> Address : <span id="address"
                    style="font-weight: bold;">{{address}}</span></p>
            <p style="max-width: 50%; overflow-wrap: break-word; max-width: 700px ">Private key: <span id="privatekey"
                    style="font-weight: bold;">{{privateKey}}</span></p>
            <p>Số dư: {{balance}} BTC</p>
        </div>
    </div>
    <div style="margin-top: 20px; margin-left: 178px; float: left; ">
        <p style="font-weight: bold; color: #74115a">CHUYỂN KHOẢN BCHAIN</p>
        <form>
            <label>
                Địa chỉ nhận
            </label>
            <input name="to" placeholder="Địa chỉ nhận tiền" style="padding-left: 12px;" \>
            <br />
            <label style="margin-top: 20px">Số tiền (BTC) </label>
            <input name="amout" placeholder="Số tiền cần chuyển" style="padding-left: 12px;" />
            <br />
            <button class="btn btn-success" style="padding: 5px 10px; margin-left: 77px; margin-top: 20px;">Chuyển
                khoản</button>
        </form>
    </div>
</div>
<div style=" margin-top: 40px; margin-left: 40px">
    <p style="font-weight: bold; color: #74115a; display: inline">LỊCH SỬ GIAO DỊCH</p>
    {{#if transactions}}
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col">#</th>
                <th scope="col" >Tài khoản gửi</th>
                <th scope="col">Tài khoản nhận</th>
                <th scope="col">Số tiền</th>
                <th scope="col">Thời gian </th>
            </tr>
        </thead>
        <tbody >
            <tr>
                <th scope="row">1</th>
                <td style="overflow-wrap: break-word;max-width: 315px; text-align:left ">048815f7bd06c94069b7110b9138d03faea10ed28b47e67d3e46963b34f6687aa1815ea5946189f298e320e416b8c1f460595af52b531a8a190e770ebb558763a4
                </td>
                <td style="overflow-wrap: break-word; max-width: 315px; text-align:left">048815f7bd06c94069b7110b9138d03faea10ed28b47e67d3e46963b34f6687aa1815ea5946189f298e320e416b8c1f460595af52b531a8a190e770ebb558763a4
                </td>
                <td>20</td>
                <td> 09:30:33 20-05-2020</td>
            </tr>
        </tbody>
    </table>
    {{else}}
    <span style="font-weight: bold; color: #74115a; display: inline">:</span>
    <span style="color: red; font-weight: bold; margin-left: 20px; font-size : 13px"> CHƯA CÓ GIAO DỊCH NÀO</span>
    {{/if}}
    
</div>