<div>
    <div style="display: inline-grid ">
        <div>
            <p>Thông tin tài khoản</p> <button><a href="/logout">Đăng xuất</a></button>
            <p>Địa chỉ: <span id="address">5eCwhBij_WyzmNJsAAAA</span></p>
            <p>Private key: <span id="privatekey">5eCwhBij_WyzmNJsAAAA</span></p>
            <p>Số dư: 0 BTC</p>
        </div>
        <div style="margin-top: 40px">
            <p>Chuyển tiền</p>
            <form>
                <label>
                    Địa chỉ nhận
                </label>
                <input name="to" placeholder="Địa chỉ nhận tiền" \>
                <br/>
                <label style="margin-top: 20px">Số tiền (BTC) </label>
                <input name="amout" placeholder="Số tiền cần chuyển" />
                <br/>
                <button class="btn btn-success" style="padding: 2px 5px; margin-left: 77px; margin-top: 20px;">chuyển tiền</button>
            </form>
        </div>
    </div>
    <div style="display:inline-grid; margin-left: 30px">
        <div>
            <p>Lịch sử giao dịch</p>
            <p> 1. chuyển cho 5eCwhBij_WyzmNJsAAAA 5BTC 20-05-2020 10:10:10 s</p>
            <p> 2. chuyển cho 5eCwhBij_WyzmNJsAAAA 5BTC 20-05-2020 10:10:10 s</p>
            <p> 3. chuyển cho 5eCwhBij_WyzmNJsAAAA 5BTC 20-05-2020 10:10:10 s</p>
            <p> 4. chuyển cho 5eCwhBij_WyzmNJsAAAA 5BTC 20-05-2020 10:10:10 s</p>
        </div>
    </div>
    <div style="display: inline-grid; margin-left: 30px">
        <div>
            <p>Lịch sử giao dịch1</p>
            <p> 1. chuyển cho 5eCwhBij_WyzmNJsAAAA 5BTC 20-05-2020 10:10:10 s</p>
            <p> 2. chuyển cho 5eCwhBij_WyzmNJsAAAA 5BTC 20-05-2020 10:10:10 s</p>
            <p> 3. chuyển cho 5eCwhBij_WyzmNJsAAAA 5BTC 20-05-2020 10:10:10 s</p>
            <p> 4. chuyển cho 5eCwhBij_WyzmNJsAAAA 5BTC 20-05-2020 10:10:10 s</p>
        </div>
    </div>
</div>

